#aboutContactFormat{
    display: inline-block;
}


#aboutMe{
    font-size: 40px;
    color: white;
    width:80%;
  
    padding: 1%;
}

#Contact , #control-group, #form-group{
    width: 50vw;
    margin-top: -700px;
    margin-right: 500px;
    
}
.col-md-8{
    margin-left:700px;
}




