#aboutMe{
    font-size: 2vw;
    width: 80%;
    color:white;
    padding: 1%;
    
}

#aboutMeHeader{
    font-size: 35px;
    margin-top: -40px;
    margin-left: -6vw;
}

#aboutMeText{
    margin-top: -40px;
    margin-left: -10vw;
}